// Vendor
@use 'normalize';
@use '~@automattic/color-studio/dist/color-variables';

// Internal
@use 'variables';
@use 'mixins';
@use 'general';
@use 'scrollbar';
@use 'components';

// TODO: Tie these styles to their own components
@use 'inputs';
@use 'buttons';

// TODO: Figure out a better way to manage these
@use 'theme';
@use 'print';
